html {
	background-color: black;
}
body {
	margin: 0;
}
ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
li {
	padding: 10px;
}
.title-bar-container {
	background-color: rgb(32, 32, 32);
}
.title-img {
	height: 60px;
	width: 120px;
}
.list-container {
	margin: 10px;
}
h1,
h4 {
	display: block;
	padding: 1px;
	left: 0;
	color: white;
}

font {
	font-weight: bold;
	margin-bottom: 0.5rem;
}
.button {
	display: block;
	text-align: center;
	opacity: 0;
	transition: opacity 0.35s ease;
}
.img-btn-container:hover .button {
	opacity: 1;
}
.list-title-container {
	position: relative;
	top: 120px;
}

.list-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.lists {
	width: 80%;
}

.error-message {
	color: red;
}

.error-message {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 40px;
}
